.main-container{
    display: flex;
    flex-direction: row;
}
.main-container video{
    margin-top: -5rem;
}

.analysis-container{
    display: flex;
    flex-direction: column;
}
.analysis-container h1{
    margin: 20px 20px;
}
.analysis-data{
    margin: 20px 20px;
    font-size: x-large;
}