*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.upload-vid{
    font-size: larger;
    margin: 0.5rem;
    padding: 1rem;
    border: 2px solid #59098f;
    border-radius: 20px;
    color: #59098f;
    width: 200px;
}
.upload-vid:hover{
    border: 2px solid #59098f;
    border-radius: 20px;
    color: #59098f;
}
