*{
    margin: 0rem;
    padding: 0rem;
}

.form-container{
    /* background-color: #4fa375; */
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.item{
    display: inline;
    width: 80%;
    border-radius: 10px;
    background-color: #19ce6b;
    /* background-color: #19cece; */
}
.form-container div, label, input{
    margin: 0.5rem;
    padding: 0.5rem;
    font-size:large;
}
#submit{
    border: 2px solid #59098f;
    border-radius: 20px;
    color: #59098f;
    width: 100px;
}
#submit:hover{
    background: #59098f;
    color: white
}
