<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis | Intelligent Traffic</title>
    <link rel="stylesheet" href="../static/analysis.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='analysis.css') }}"> -->
    <link rel="stylesheet" href="../static/basichome.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='basichome.css') }}"> -->
</head>
<body>
    <nav class="Nav">
        <ul>
<!--               <li><img src="../public/traffic-lights.ico"></li>-->
            <li><img src={{url_for('static',filename='traffic-lights.ico')}}></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('upload') }}">Upload</a></li>
            <li><a href="{{ url_for('videos') }}">Videos</a></li>
            <li><a href="{{ url_for('analysis') }}">Analysis</a></li>
        </ul>
     </nav>
    <div class="main-container">
        <video style="z-index:-1" id="vid1" width="650" height="700" class="main" autoplay muted loop>
            <source  class="one" src=".{{url_for('static',filename='videos/compiled.mp4')}}" type="video/mp4">
        </video>
        <div class="analysis-container">
            <h1>Analysis:</h1>
            <span class="analysis-data">Number of cars : value</span>
            <span class="analysis-data">Accidents : value</span>
            <span class="analysis-data">Direct Traffic: </span>
            <!-- <span class="analysis-data"><img src="../public/traffic-lights.png" alt=""></span> -->
            <!-- <svg height="350" width="200">
                <circle cx="150" cy="50" r="30" stroke="black" stroke-width="3" fill="red" opacity="0.3"/>
                <circle cx="150" cy="120" r="30" stroke="black" stroke-width="3" fill="yellow" opacity="0.3"/>
                <circle cx="150" cy="190" r="30" stroke="black" stroke-width="3" fill="green" />
            </svg>  -->
            <div class="arrows">
                <div class="col1">
                    <img id="sig1" class="right" src="{{url_for('static',filename='right.png')}}" alt="">
                    <img id="sig2" class="right" src="{{url_for('static',filename='right.png')}}" alt="">
                </div>
                <div class="col2">
                    <img id="sig3" class="up" src="{{url_for('static',filename='right.png')}}" alt="">
                    <img id="sig4" class="up" src="{{url_for('static',filename='right.png')}}" alt="">
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>