<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="icon" href="../public/traffic-lights.ico"/>
    <title>Intelligent Traffic</title>
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}}">
                            {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
    </div>
    <a class="upload-vid" style="text-decoration: none; text-align: center;" href="{{ url_for('upload') }}">Upload Videos page</a>
</body>
</html>