<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/videos.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='videos.css') }}"> -->
    <title>Videos | Intelligent Traffic</title>
</head>
<body>
    <div>
        <a style="text-decoration: none;" href="{{ url_for('home') }}"><button class="home" >HOME</button></a>
    </div>
    <h1>Video Analysis: </h1>
    <div class="video-container">
        <video id="vid1" width="640" height="480" class="main" autoplay muted controls loop>
            <source  class="one" src={{url_for('static',filename='videos/test3.mp4')}} type="video/mp4">
        </video> 
        <p id="cam2">CAM1</p>
        <video id="vid2" width="640" height="480" autoplay muted controls loop>
            <source src="../carDetect/test2.mp4" type="video/mp4">
        </video> 
        <p id="cam3">CAM2</p>
        
    </div>
    
</body>
</html>