<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='videos.css') }}">
    <title>Videos | Intelligent Traffic</title>
</head>
<body>
    <div>
        <button class="home" >Home</button>
    </div>
    <h1>Video Analysis: </h1>
    <div class="video-container">
        <video width="640" height="480" class="main" autoplay muted controls loop>
            <source  class="one" src="../carDetect/test1.mp4" type="video/mp4">
        </video> 
        <p>CAM1</p>
        <!-- CAM1 -->
        <div class="other">
            <div>
                <video width="320" height="240" autoplay muted controls loop>
                    <source src="../carDetect/test1.mp4" type="video/mp4">
                </video> 
                <p>CAM2</p>
            </div>
            <!-- CAM2 -->
            <div>
                <video width="320" height="240" autoplay muted controls loop>
                    <source src="../carDetect/test1.mp4" type="video/mp4">
                </video> 
                <p>CAM3</p>
            </div>
            <div>
                <video width="320" height="240" autoplay muted controls loop>
                    <source src="../carDetect/test1.mp4" type="video/mp4">
                </video> 
                <p>CAM4</p>
            </div>
        </div>
    </div>
</body>
</html>